<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.comsys.mapper.UserinfoMapper">
	<resultMap id="BaseResultMap" type="com.comsys.domain.Userinfo">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="dept_no" property="deptNo" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="update_time" property="updateTime" jdbcType="DATE" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, dept_no, create_time, update_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from userinfo
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		userinfo
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.comsys.domain.Userinfo">
		insert into userinfo (id,
		name, dept_no,
		create_time, update_time)
		values (#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{deptNo,jdbcType=INTEGER},
		#{createTime,jdbcType=DATE}, #{updateTime,jdbcType=DATE})
	</insert>
	<insert id="insertSelective" parameterType="com.comsys.domain.Userinfo">
		insert into userinfo
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="deptNo != null">
				dept_no,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="deptNo != null">
				#{deptNo,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=DATE},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=DATE},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.comsys.domain.Userinfo">
		update userinfo
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="deptNo != null">
				dept_no = #{deptNo,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=DATE},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=DATE},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.comsys.domain.Userinfo">
		update userinfo
		set name = #{name,jdbcType=VARCHAR},
		dept_no =
		#{deptNo,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=DATE},
		update_time = #{updateTime,jdbcType=DATE}
		where id =
		#{id,jdbcType=INTEGER}
	</update>

	<select id="countAll" resultType="java.lang.Integer">
		select count(*) from userinfo
	</select>
	
	<select id="queryByPage" resultMap="BaseResultMap" parameterType="java.util.Map">
		select
		<include refid="Base_Column_List" />
		from userinfo limit #{start},#{pageSize} 
	</select>
	
	<select id="queryListPage" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from userinfo
	</select>
</mapper>